
#package-card,
#styerr-card {
  background-color: #d0d0d0;
  border-radius: 30px;
  height: 660px;
  width: 93%;
}

#cards {
  padding-right: 30px;
  padding-left: 30px;
}

#styerrs-coin,
#premium-packages {
  font-size: 28px;
  color: black;
  padding-left: 20px;
}

#shop-cards {
  padding-left: 15px;
}

#text-title {
  font-size: 18px;
  line-height: 1.2;
  padding-right: 50px;
  text-align: justify;
}

#main-shop-cards {
  margin-top: 20px;
}

.buyingcard {
  width: 40%;
  height: 200px;
  border-radius: 20px;
  background-color: #e8e8e8;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 530px;
}

.buyingcard {
  width: 240px;
  height: 245px;
  border-radius: 20px;
  margin: 37px;
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 254, 254);
  border-radius: 10px;
  border: 1px solid gray;
  border-left: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
  transition: 1s;
}

.recommended {
  background-color: #833ffd;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  width: 105px;
  padding: 0 8px;
}

.off {
  background-color: #c8af1d;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  width: 74px;
  padding: 0 8px;
  margin-top: 6px;
  text-align: center;
}

#styerr-number {
  margin-bottom: 2px;
  font-size: 20px;
}

.buyingcard-body {
  padding: 10px 20px;
}

.styerr-price {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 58px;
  height: 107px;
}

.buy-button {
  margin: auto;
  width: 96px;
}

#int-number {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}

.float-number {
  line-height: 1;
  padding-top: 6px;
  padding-left: 6px;
}

#float-number {
  margin: 0;
  font-size: 26px;
}

#usd {
  margin: 0;
  font-size: 30px;
}

.creditcard,
.paymentwall,
.paypal {
  width: 25%;
  text-align: center;
  font-size: 15px;
  background-color: #bfbfbf;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.method-container {
  display: flex;
  justify-content: space-around;
}

.modal-title {
  font-size: 18px;
  text-align: center;
  color: black;
}

#paymentwall{
  width: 74px;
  height: 52px;
}

.method-container * p{
  color: black;
}

#wall-letter{
  margin-top: 4px;
}

.method-container * i{
  color: black;
}