#factionid {
    background-color: #8c9eae !important;
}

.queue-action-buttons>button {
    margin-left: 10px;
}

#explain {
    padding-left: 20px;
    width: 65%;
    padding-top: 20px;
    font-size: 18px;
}

#factionlist {
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 21px;
    padding-left: 18px;
}

#list-content {
    margin-bottom: 0 !important;
}

.form-check>input:checked {
    border: 1px solid #41b883 !important;
    background-color: #34495e !important;
}

.form-check>input {
    -webkit-appearance: none;
    border: 1px solid gray;
    width: 15px;
    height: 15px;
}

#comment-user {
    margin-bottom: 6px;
    font-size: 20px;
    margin-top: 20px;
}

#table-container {
    overflow-y: auto;
    max-height: 512px;
    margin-top: 20px;
}

.search-container {
    margin-left: 0;
}

.faction-info {
    padding: 20px;
    height: 200px;
}

#faction-name {
    margin-top: 30px;
    font-size: 30px;
    padding-left: 10px;
    font-weight: 700;
    margin-bottom: 25px;
}

.underinfo {
    margin-top: 30px;
}

.faction-infos {
    padding: 20px;
    padding-top: 30px;
    width: 200px;
    float: right;
    height: 300px;
    display: block;
}

#fontawesome-container {
    display: flex;
    justify-content: space-around;
    padding: 5px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

#factionrow {
    justify-content: space-around;
}

#info-faction-modal {
    width: 40%;
    height: 330px;
}

#kick-faction-modal,
#expel-faction-modal,
#list-faction-modal{
    width: 25%;
}

#faction-info-modal {
    position: relative;
    padding: 30px;
    padding-top: 10px;
}

.times-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.times-icon:hover {
    cursor: pointer;
}

.faction-info-modal-title {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#faction-info-modal-hr {
    width: 30%;
    margin: 0 auto;
}

.faction-info-parent {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.faction-info-modal-left>div, .faction-info-modal-right>div {
    display: flex;
    flex-wrap: wrap;
}

.faction-info-modal-left {
    line-height: 0.5;
    padding-top: 25px;
    padding-right: 20px;
    border-right: 1px solid gray;
}

.faction-info-modal-right {
    padding-left: 20px;
    overflow-y: auto;
    height: 226px;
    padding-right: 10px;
    line-height: 0.5;
    padding-top: 2px;
}

#sanction-staff {
    text-align: center;
}

.faction-info-modal-container>i:hover {
    cursor: pointer;
}

#faction-info-modal > div{
    text-align: center;
}

#faction-info-modal button{
    margin: 10px;
}