.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 26px;
  margin-top: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdcdcd;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid gray;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: #d4d4d4;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid gray;
  box-shadow: 4px 1px 7px grey;
}

input:checked + .slider {
  background-color: #42505d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #42505d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.recommended-container {
  display: flex;
  align-items: center;
}

#recommended {
  padding-left: 10px;
  font-size: 20px;
  color: black;
  margin-bottom: 0;
}

.bonus {
  width: 200px;
  height: 32px;
  border-radius: 10px;
}

.save-cancel-buttons {
  margin-top: 110px;
  margin-right: 10px;
  float: right;
  width: 223px;
  display: flex;
  justify-content: space-between;
}

.save-cancel-buttons > button {
  width: 98px;
  height: 35px;
  padding: 0px;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 21px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin-bottom: 18px;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 19px;
  height: 19px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

#vehicle-cards-container{
  overflow-x: auto;
  display: flex;
}

.vehiclecards{
  padding: 13px 21px 10px;
  width: 445px;
  border-radius: 15px;
  background-color: #f4f4f4;
  margin: 23px 17px;
  display: block;
  line-height: 0.5;
  padding-top: 15px;
}

.vehicle-name{
  font-size: 20px;
  text-decoration: underline;
}

.vehicles-container{
  display: flex;
  justify-content: space-around;
}

.vehicle-card-left > div{
  display: flex;
}

.vehicle-card-left{
  padding-top: 20px;
}

#vehicle-card{
  max-width: 2750px;
}

#vehicle-row{
  max-width: 1460px;
}

#houses-cards-container,
#promises-cards-container{
  display: flex;
  justify-content: start;
  padding-left: 0;
}

.ownership-titles{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: #35383c;
  font-weight: 500;
  margin-top: 22px;
}

.ownership-horizon-line{
  width: 160px;
  height: 5px;
  background: #35383c;
  border: none;
  border-radius: 40px;
  margin: 0 auto;
}

.houses-cards-containers,
.promises-cards-containers{
  max-width: 860px;
    overflow-x: auto;
    margin: 0 auto;
}

.first-ownership-title{
  margin-top: 0;
}

#house_id,
#premises_id{
  text-align: center;
  font-size: 18px;
}

#houses-content,
#premises-content{
  line-height: 0.5;
}

#houses-content > div,
#premises-content > div{
  display: flex;
}

.vehicle-card-right > img{
  width: 250px;
}